@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

body {
    background-color: gainsboro;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0px;
}

nav > ul {
    font-family: 'Hind Siliguri', sans-serif;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #0c7489;
}

nav > ul > li {
    float: right;
}

nav > ul > li > div {
    width: 100px;
    height: 80px;
    display: table;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

nav > ul > li > div:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
nav > ul > li > img {
    height: 70px;
    position: absolute;
    left: 20px;
    top: 0px;
}

span {
    display: table-cell;
    vertical-align: middle;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
}

.notActive {
    text-decoration: none;
}

@media (max-width: 700px) {
    nav > ul > li > div {
        border-bottom: 1px solid black;
        width: 100vw;
    }
    nav > ul > li > img {
        height: 50px;
        left: 20px;
        top: 10px;
    }
}
