.container {
    margin-top: 81px;
    height: 150vh;
    width: 100vw;
    border: 1px solid blue;
    position: relative;
}

footer {
    width: 100%;
    position: absolute;
    left: 0px;
    background-color: #0c7489;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.mySlides {
    display: none;
    width: 100%;
    border: 1px solid blue;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
}
